<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">ML Pro</h1>
    <p class="lead">Try the ML model!</p>
    <hr>
    <a class="btn btn-dark btn-lg" href="/" role="button">Predict</a>

  </div>
</div>

<%- include('partials/footer') %>
